name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: v0.0.6

      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - run: sudo apt-get install make gcc libc-dev binutils-gold musl-dev git build-essential jq curl tzdata git-lfs openssl -y

      - env:
          CGO_CFLAGS: "-O -D__BLST_PORTABLE__"
          CGO_CFLAGS_ALLOW: "-O -D__BLST_PORTABLE__"
        run: |
          TAG_NAME=$(curl -L -s -H "Accept: application/vnd.github+json" https://api.github.com/repos/bnb-chain/bsc/releases/latest | jq -r '.tag_name')
          git clone https://github.com/bnb-chain/bsc -b $TAG_NAME --depth=1 /opt/bsc
          cd /opt/bsc
          patch /opt/bsc/node/rpcstack.go /home/runner/work/bsc-geth-disable-gzip/bsc-geth-disable-gzip/rpcstack.patch
          git diff | cat
          wget https://musl.cc/x86_64-linux-musl-cross.tgz -qO - | gzip -d | tar xf -
          GIT_COMMIT=$(git rev-parse HEAD)
          GIT_COMMIT_DATE=$(git log -n1 --pretty='format:%cd' --date=format:'%Y%m%d')
          GOOS=linux GOARCH=amd64 CGO_ENABLED=1 CC=$PWD/x86_64-linux-musl-cross/bin/x86_64-linux-musl-gcc go build -ldflags "-X main.gitCommit=$GIT_COMMIT -X main.gitDate=$GIT_COMMIT_DATE -extldflags=-static" -o /home/runner/work/bsc-geth-disable-gzip/bsc-geth-disable-gzip/geth -a ./cmd/geth
          cd /home/runner/work/bsc-geth-disable-gzip/bsc-geth-disable-gzip
          cp /opt/bsc/go.{mod,sum} .
          tar -czvf geth_${TAG_NAME}_linux_amd64.tar.gz geth
          openssl dgst -sha256 geth_${TAG_NAME}_linux_amd64.tar.gz > geth_${TAG_NAME}_linux_amd64.tar.gz.sha256

      - env:
          TZ: Asia/Shanghai
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add geth_* go.{mod,sum}
          git commit -m "build by github actions"

      - uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
          force: true
